# Gradle
.gradle/
build/
*.apk
*.ap_
*.dex
*.class

# Android Studio
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# Local configuration file
local.properties

# Binaries
*.jar
*.war
*.aar
*.exe
*.o
*.so

# Logs
*.log
log*.xml

# Environment
.env
.env.local
