<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:allowBackup="true" android:fullBackupContent="@xml/backup_scheme" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/Theme.PvZFusion">
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
        <activity android:name=".ui.GameActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.SaveBackupActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.AlmanacActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.FusionEncyclopediaActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.AchievementsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.ProfileActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.ChallengeActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.TutorialActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.SettingsActivity" android:exported="false" android:screenOrientation="portrait" />
    </application>
</manifest>
